.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Map CSS */
.leaflet-container {
  width: 100%;
  height: 90vh;
}

.map-container {
  height: 100%;
  /* Fallback for vmin */
  padding: 0px 1rem 1rem 1rem;
  padding: 0px 1vmin 1vmin 1vmin;
}

.map-frame {
  height: 90%;
  width: 100%;
  /*   We use outline over border as has issues in some cases */
  /*outline: 1px solid black;*/
}

#map-id {
  height: 100%;
}

.vega-embed.has-actions {
  padding-right: 0px !important;

  top: 12px !important;
}

.vega-embed summary {
  list-style: none;
  position: absolute;
  top: 70px !important;
  margin-right: 55px;

  right: 0;
  padding: 6px !important;
  z-index: 1000;
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  color: #1b1e23;
  border: 1px solid #aaa;
  border-radius: 999px;
  opacity: 0.2;
  transition: opacity 0.4s ease-in;
  outline: none;
  cursor: pointer;
  line-height: 0px;
}
.title_tendencia h4 {
  /* background-color: aquamarine; */
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.title_tendencia h6 {
  color: black;
  font-size: 15px;
  text-align: center;
  margin: 20px 0 20px 0;
}

.afetacion {
  /* display: block; */
  /* background-color: yellow; */
  height: 90vh;
  text-align: center;
}
.afetacion h4 {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.afetacion li {
  font-size: 20px;
  font-weight: 600;
}
ul {
  list-style: none;
  padding-inline-start: 0px !important;
}
.linea {
  border-top: 1px solid black;
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 5px auto 0 auto;
}

.danger {
  font-size: 30px !important;
  color: red;
}
.success {
  font-size: 30px !important;
  color: green;
}
.secondary {
  font-size: 30px !important;
  color: darkslategray;
}

p,
.text-danger,
.text-success,
.text-secondary {
  font-size: 12px !important;
  margin: 5px !important;
}
li span {
  text-align: center;
}

.leaflet-popup-content {
  margin: 10px 10px;
  line-height: 1.4;
}

.logo-col {
  width: 50px;
  height: 30px;
  margin-right: 30px;
}
/* 
Support for browsers that DON'T support Flexbox uses 100% height on the map-container defined above.
Map will at least render, for the small amount of browsers that DON'T support flexbox. Users will just have to scroll abit ¯\_(ツ)_/¯
*/
@supports (display: flex) {
  .map-container {
    height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .map-frame {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}
